# --- SEGURIDAD ---

dashboard.json
*.json

# --- PYTHON ---
# Ignorar carpetas de entorno virtual y caché
__pycache__/
*.pyc
venv/
.env

# --- TERRAFORM ---
# Ignorar archivos
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# --- DOCKER ---
# A veces Docker genera archivos temporales
.docker/
